{% include 'includes/header.html.twig' %}

<div class="col-sm-6 col-sm-offset-3">
  <h2>We&rsquo;re sorry - we could not find the page you are looking for</h2>
</div>

{% include 'includes/footer.html.twig' %}