{% include 'includes/header.html.twig' %}

<div class="col-sm-6 col-sm-offset-3">
  <h3>Account Information <a href="/account/edit"><i class="glyphicon glyphicon-pencil colorOrange"></i></a></h3>
  {% include 'includes/message.html.twig' %}
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class="text-right">First Name</td>
        <th>{{ user.firstName }}</th>
      </tr>
      <tr>
        <td class="text-right">Last Name</td>
        <th>{{ user.lastName }}</th>
      </tr>
      <tr>
        <td class="text-right">Email Address</td>
        <th>{{ user.emailAddress }}</th>
      </tr>
    </tbody>
  </table>
</div>

{% include 'includes/footer.html.twig' %}