{% include 'includes/header.html.twig' %}

<div class="col-sm-6 col-sm-offset-3">
  <h3>Dashboard</h3>
  {% include 'includes/message.html.twig' %}
  <a href="/account">Account Information</a><br />
  <a href="/users">Users</a>
</div>

{% include 'includes/footer.html.twig' %}